* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

.header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e2e2e2;
  width: 100%;
  padding: 5px 14px;
  border-bottom: 2px solid var(--border-gray);
  top: 0;
  box-shadow: rgb(0 0 0 / 8%) 0 0 5px 5px;
  background-color: #fff;
  align-items: center;
  z-index: 2;
  margin-bottom: 3vh;
  position: fixed;
}

.head-center img {
  width: 15.3em;
  height: 2em;
}

.head-left {
  font-size: 15px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.head-left .fas {
  padding: 10px;
  margin-right: 1vw;
}

.head-left .fas:hover {
  cursor: pointer;
  background-color: rgb(248, 248, 248);
  border-radius: 4px;
}

header .logo {
  height: 30px;
  width: auto;
}

button {
  border: 2px solid #376f99;
  border-radius: 3px;
  background-color: #537994;
  color: #ffffff;
  padding: 11px 12px 8px;
  font-weight: 700;
  letter-spacing: 0.05em;
  transition: all 0.6s ease 0s;
  margin-left: 7px;
}

button:hover {
  border: 1px solid #326891;
  cursor: pointer;
  background-color: #216192;
}

a {
    color: #000;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/*Main*/

main {
    width: 60%;
    margin: 1vh auto;
    box-sizing: border-box;
  }

  img {
    width: 100%;
    overflow: hidden;
    margin: 0;
  }

  main h1 {
    color: #121212;
    font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
    font-weight: 700;
    font-style: italic;
    font-size: 2.4rem;
    line-height: 3rem;
    margin: 0;
    padding-bottom: 2vh;
    border-bottom: 1px solid var(--border-gray);
    
  }

  .space {
    max-width: 700px;
    margin: 0 auto;
    font-size: 1.25rem;
    line-height: 1.875rem;
    font-weight: 400;
    font-stretch: 100%;
    margin-top: 20vh;
  }

  .main-content-info-inner p {
    margin-bottom: 0.9375rem;
  }

  .first-main-img {
    grid-column: 1 / 4;
    margin-bottom: 3vh;
  }

  .social-icons i {
    border: 1px solid var(--subtle-gray);
    margin-right: 1vw;
    padding: 6px 7px;
    font-size: 15px;
    border-radius: 50%;
    background-color: rgb(235, 230, 230);
    box-sizing: border-box;
    margin-bottom: 3vh;
    margin-top: 3vh;
  }
  
  .social-icons .fa-facebook-f {
    padding: 6px 9px;
  }
  
  .social-icons i:hover {
    background-color: white;
    border: 2px solid var(--border-gray);
    cursor: pointer;
  }

  .line {
      width: 60%;
      border-bottom: 4px;
      color:black;
  }

  iframe {
      width: 100%;
      height: 450px;
      border: 0;
  }
  


